.p-card-header img {
	width: 100%;
	height: 257px;
	border-radius: 20px;
	padding: 10px;
}

.p-card .p-card-body {
	padding: 0rem 1.5rem;
}

.p-card .p-card-title {
	font-size: 1rem;
	font-weight: 700;
	/* margin-bottom: 0.5rem; */
}

.p-card .p-card-subtitle {
	font-size: 0.9rem;
}

.p-card .p-card-content {
	padding: 0;
	font-size: 0.9rem;
}

.p-card .p-card-footer {
	padding: 1rem 0;
}

.p-card-header {
	position: relative;
	overflow: hidden;
}

.label_candidate {
	position: absolute;
	right: -30px;
	top: 15px;
	width: 120px;
	text-align: center;
	padding: 5px 0;
	background-color: #dc3545;
	transform: rotateZ(45deg);
}

.label_candidate::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 8px;
	height: 10px;
	width: 10px;
	background-color: #dc3545;
	opacity: 0.6;
	transform: rotateZ(45deg);
}

.label_candidate::after {
	content: "";
	position: absolute;
	bottom: -5px;
	right: 6px;
	height: 10px;
	width: 10px;
	background-color: #dc3545;
	opacity: 0.6;
	transform: rotateZ(45deg);
}
